<div class="game-info">
  <div class="cards-count-container">
    <img src="assets/deck-icon.png" class="deck-icon">
    <div class="deck-cards-count">{{deck.length}}</div>
  </div>
  <div class="time-container">
    <div class="game-time">{{seconds | time}}</div>
  </div>
</div>

<div class="cards-container">
  <img *ngFor="let card of boardCards" class="card" 
    [src]="getCardImageUrl(card)" (click)="handleCardClick(card)"
    [class.selected]="card.isSelected" [class.highlighted]="card.isHighlighted">
</div>

<div class="action-buttons-container">
  <button (click)="showSet()" class="show-set-button action-btn">Show Set</button>
  <button (click)="restart()" class="action-btn">Restart</button>
  <!-- <button (click)="cheat()" class="action-btn">Cheat</button> -->
</div>