<div class="game-info">
  <div class="cards-count-container">
    <img src="assets/deck-icon.png" class="deck-icon">
    <div class="deck-cards-count">{{deck.length}}</div>
  </div>
  <div class="time-container">
    <img src="assets/clock-icon.png" class="clock-icon">
    <div class="game-time">{{seconds | time}}</div>
  </div>
</div>

<div class="cards-container">
  <img *ngFor="let card of boardCards" class="card" [src]="getCardImageUrl(card)" [class.selected]="card.isSelected" [class.highlighted]="card.isHighlighted"
    (click)="handleCardClick(card)">
</div>

<!-- <button (click)="checkSets()">Check</button> -->
<div class="action-buttons-container">
  <button (click)="showSet()" class="show-set-button action-btn">Show Set</button>
  <button (click)="endGame()" class="action-btn">End Game</button>
</div>