.cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.card {
    width: 25%;
    height: 20%;
    border: solid 5px;
    margin: 0.5%;
}

.card.selected {
    border-color: blue;
}

.highlighted {
    border-color: green;
}

.game-info {
    display: flex;
    font-size: 300%;
}

.cards-count-container {
    display: flex;
    margin-left: 15%;
    margin-right: 13%;
}

.time-container {
    display: flex;
}

.deck-icon {
    height: 100px;
    width: 100px;
    margin-right: 1%;
}

.deck-cards-count {
    margin-top: 10%;
    margin-left: 5%;
}

.clock-icon {
    height: 100px;
    width: 100px;
    margin-right: 1%;
}

.game-time {
    margin-top: 7%;    
}